/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray: #444444;
$dark-gray: #444444;
$darker-gray: #2a2a2a;
$light-gray: #9ba1a6;
$lighter-gray: #e0e0e0;

$primary-color: #005f73; // Teal
$secondary-color: #94bfa3; // Sage
$highlight-color: #e6d9c4; // Beige

$danger-color: #ee5f5b;
$success-color: #62c462;
$info-color: #00778c;
$warning-color: #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
  --global-base-color: #444444;
  --global-bg-color: #faf9f6;
  --global-footer-bg-color: #f2f3f3;
  --global-border-color: #e0e0e0;
  --global-dark-border-color: #bdc1c4;
  --global-code-background-color: #fdfaf6;
  --global-code-text-color: #2a2a2a;
  --global-fig-caption-color: #666666;

  --global-link-color: #005f73;
  --global-link-color-hover: #00778c;
  --global-link-color-visited: #003d4d;

  --global-masthead-link-color: #444444;
  --global-masthead-link-color-hover: #222222;

  --global-text-color: #444444;
  --global-text-color-light: #777777;
  --global-thead-color: #e0e0e0;
}